<!DOCTYPE html>
<html>
<head>
    <title>Liste des médias</title>
</head>
<body>
    <h1>Liste des médias</h1>
    <ul>
        {% for media in medias %}
        <li>
            {{ media.name }} - {{media.auteur}} - {{ media.get_media_type }}
            {% if media.emprunteur %}
                (Emprunté par : {{ media.emprunteur }})
                <form action="{% url 'rendre_media' emprunteur_id=media.emprunteur.id media_id=media.id %}" method="post">
                    {% csrf_token %}
                    <button type="submit">Rendre</button>
                </form>
            {% else %}
                <form action="{% url 'emprunter_media' emprunteur_id=0 media_id=media.id %}" method="post">
                    {% csrf_token %}
                    <label for="emprunteur">Choisissez un emprunteur:</label>
                    <select name="emprunteur_id" id="emprunteur">
                        {% for emprunteur in emprunteurs %}
                        <option value="{{ emprunteur.id }}">{{ emprunteur.nom }} {{ emprunteur.prenom }}</option>
                        {% endfor %}
                    </select>
                    <button type="submit">Emprunter</button>
                </form>
            {% endif %}
        </li>
        {% endfor %}
    </ul>
    <a href="{% url 'choix_media_type' %}">Ajouter un nouveau média</a> <br>
    <a href="{% url 'emprunteur_list' %}">Retour à la liste des emprunteurs</a> <br>
    <a href="{% url 'jeu_plateau_list' %}">Liste des jeux de plateau</a>
</body>
</html>
